<div style="background-image:url('./public/images/scroll1.jpg');width:100%;height:970px;background-repeat:no-repeat;background-size:cover">
	<div  class="" style="padding-top:4%;" >
		<!-- <p style="color:#fff;font-size:38px;padding-left:3%;font-weight:700">Hi {{vm.username}}!</p>
		 -->
		 <p align="right" style="padding-right:4%;"><a href="#/login" class="btn btn-primary">Logout</a></p></br>

		<div class="row selectDiv" style="height:100px;cursor:pointer" ng-click="vm.addCourse()">
			<h2 style="padding-left:3%;">New Invoice &nbsp;<i class="fa fa-graduation-cap" aria-hidden="true"></i></h2>
		</div>
		<div class="row selectDiv" style="height:100px;cursor:pointer" ng-click="vm.enrollStudent()">
			<h2 style="padding-left:3%;">Add New Stock &nbsp;<i class="fa fa-plus" aria-hidden="true"></i></h2>
		</div>
		<div class="row selectDiv" style="height:100px;cursor:pointer" ng-click="vm.searchDetail()">
			<h2 style="padding-left:3%;">Stock Details &nbsp;<i class="fa fa-search" aria-hidden="true"></i></h2>
		</div>
		<div class="row selectDiv" style="height:100px;cursor:pointer" ng-click="vm.feeInstall()">
			<h2 style="padding-left:3%;">Settings &nbsp;<i class="fa fa-money" aria-hidden="true"></i></h2>
		</div>
	</div>

</div>