
<div class="" style="background-image:url('./public/images/search.jpg');width:100%;height:970px;background-repeat:no-repeat;background-size:cover">
	<div class=" container">
		<div class="row" style="padding-top:5%;margin-right:0px!important;">
			<p align="right"><a href="#/login" class="btn btn-primary">Logout</a></p></br>

			<p style="text-align:center;font-size:30px;font-weight:700;background:#fff;opacity:0.9;padding:20px">ALL INVOICES</p>
			<div style="background:#fff;opacity:0.9;padding:20px">
			<div class="" style="background:#fff;opacity:0.9;padding-top:20px!important;padding-right: 17px;">
			
				<table class="table" align="" cellpadding="5px" cellspacing="5px" style="margin-bottom:0px!important">
					

					<tr style="">
						<th style="padding:5px;border:1px solid" width="158"> Invoice Number </th>
						<th style="padding:5px;border:1px solid" width="128"> Invoice Date </th>
						<th style="padding:5px;border:1px solid" width="125"> Client Name </th>
						<th style="padding:5px;border:1px solid" width="146"> Client Contact </th>
						<th style="padding:5px;border:1px solid" width="138"> Total Amount </th>
						<th style="padding:5px;border:1px solid" width="300"> Note </th>
						<th style="padding:5px;border:1px solid" width="122"> Action </th>
					</tr>
				</table>
			</div>
			<div class="" style="background:#fff;opacity:0.9;overflow-y: auto;max-height: 500px;">
			
				<table class="table" align="" cellpadding="5px" cellspacing="5px">
				
					<tr ng-repeat="invoice in allinvoices">
						<td style="padding:5px;border:1px solid"  width="158">{{invoice.invoiceNo}}</td>
						<td style="padding:5px;border:1px solid" width="128">{{invoice.invoiceDate}}</td>
						<td style="padding:5px;border:1px solid" width="125">{{invoice.clientName}}</td>
						<td style="padding:5px;border:1px solid" width="146">{{invoice.clientContact}}</td>
						<td style="padding:5px;border:1px solid" width="138">{{invoice.totalAmount}}</td>
						<td style="padding:5px;border:1px solid" width="300">{{invoice.note}}</td>
						<td style="padding:5px;border:1px solid" align="center" width="122"><button class="btn btn-danger" ng-click="removeInvoice(invoice.invoiceNo)">Remove</button></td>
					</tr>
				</table>
				
			</div>
		</div>
		</div>

	</div>
</div>